<div class="body">
    <div>
        <Label> Game Type: </Label>
        <select id="game-type">
            <option value="Cardinal Neighbors">Cardinal Neighbors</option>
            <option value="Diagonal Neighbors">Diagonal Neighbors</option>
            <option value="Row and Column">Row and Column</option>
        </select>
        <span>
            <Label> Light Color: </Label>
            <select id="lights-color">
                <option value="rgb(12, 204, 216)">Cyan</option>
                <option value="rgb(256, 32, 40)">Red</option>
                <option value="yellow">Yellow</option>
                <option value="rgb(32, 256, 24)">Green</option>
                <option value="rgb(256, 128, 48)">Orange</option>
                <option value="rgb(256, 56, 172)">Pink</option>
                <option value="rgb(32, 80, 256)">Blue</option>
            </select>
        </span>
    </div>
    <div>
        <Label> Width: </Label>
        <span> 3 </span>
        <input
            id="width-slider"
            type="range"
            min="3"
            max="10"
            value="5"
            step="1"
        />
        <span> 10 </span>
    </div>
    <div>
        <Label> Height: </Label>
        <span> 3 </span>
        <input
            id="height-slider"
            type="range"
            min="3"
            max="10"
            value="5"
            step="1"
        />
        <span> 10 </span>
    </div>
</div>
<button id="new-game">New Game</button>
<div
    id="lights"
    style="
        width: 320px;
        height: 320px;
        grid-template-columns: repeat(5, 64px);
        grid-template-rows: repeat(5, 64px);
        border-color: rgb(20, 48, 64);
    "
></div>
